%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%main-background {
  background-color: rgba(white, 0.04);
  backdrop-filter: blur(40px);
}
