.container {
  --bs-gutter-x: 1.5rem;
  padding: {
    right: calc(var(--bs-gutter-x) * 0.5);
    left: calc(var(--bs-gutter-x) * 0.5);
    //   right: 15px;
    //   left: 15px;
  }
  margin: {
    right: auto;
    left: auto;
  }
  width: 100%;
  @include small {
    max-width: 540px;
  }
  @include medium {
    max-width: 720px;
  }
  @include large {
    max-width: 960px;
  }
  @include xLarge {
    max-width: 1140px;
  }
  @include xxLarge {
    max-width: 1320px;
  }
}
