html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}
$scroll: "::-webkit-scrollbar";

#{$scroll} {
  width: 17px;
}
#{$scroll}-track {
  background-color: colors.$main-text;
}
#{$scroll}-thumb {
  cursor: pointer;
  &,
  &:hover {
    background-color: colors.$third-text;
  }
}
